  <div class="all">
    <div class="principal">
    <div class="card" style="width: 25rem;">
        <img src="../assets/img/fotoruben.jpeg">
        <div class="texto">
          <h4 class="h4">Ruben Ulianov Blanco Chavarría</h4>  
          <p>Nacì el 25 de Oct de 1998<br/>
            Foto de cuando estaba de gira en la CDMX.</p>
        </div>
    </div>
  </div>

  <div class="tarjetass">
    <div class="card1" style="width: 18rem;">
        <img src="../assets/img/cine.jpg" width="288" height="250">
        <div class="texto">
          <h5 class="h4">Cine</h5>  
          <p>Me gusta mucho ir al cine y las historias que se cuentan, son inspiradoras.</p>
        </div>
    </div>

    <div class="card2" style="width: 18rem;">
        <img src="../assets/img/cicl.png" width="288" height="250">
        <div class="texto">
            <h5 class="h4">Ciclismo</h5>   
          <p>Me relaja andar en la bicicleta por la noche en las balaceadas calles de Cuautla.</p>
        </div>
    </div>

    <div class="card3" style="width: 18rem;">
        <img src="../assets/img/game.jpg" width="288" height="250">
        <div class="texto">
            <h5 class="h4">Videojuegos</h5>   
          <p>Ojala tuviera tiempo para jugar diario, los considero otro tipo de arte.</p>
        </div>
    </div>
    
    <div class="card4" style="width: 18rem;">
        <img src="../assets/img/music.jpeg"  width="288" height="250">
        <div class="texto">
            <h5 class="h4">Música</h5>  
          <p>Escucho mùsica todos los dias, me gusta de todo menos banda y reggueton bro.</p>
        </div>
    </div> 

    <div class="card5" style="width: 18rem;">
      <img src="../assets/img/fotos.jpg"  width="288" height="250">
      <div class="texto">
          <h5 class="h4">Fotografía</h5>  
        <p>Me gusta la fotografìa artistica aunque no tengo la manera de hacerlo profesionalmente :c.</p>
      </div>
  </div>

  <div class="card6" style="width: 18rem;">
    <img src="../assets/img/reloj.jpg"  width="288" height="250">
    <div class="texto">
        <h5 class="h4">Relojes</h5>  
      <p>Obsesionado con comprar relojes, me encantan esas màquinas, todos deberìan usar uno.</p>
    </div>
</div>


  </div>
</div>
