<div class="contenedorPrincipal">
   <div class="prueba">
    <div class="foto">
        <div class="contenedorFoto">
            <img src="../../../assets/Perfil.jpg" alt="FotoPerfil">
           <div>
            <h2>Juarez Bustos Angel Alfonso</h2>
            <h4>Desarrollo Web En Dispositivos Moviles</h4>
            <h5>Ing. Sistemas Computacionales</h5>
           </div>
        </div>
    </div>
    <div class="cardGeneral">
        <h2>Tecnologias que me gustan</h2>

        <div class="cards">
            <div class="card">
                <img src="../../../assets/java.webp" alt="Avatar" >
                <div class="container">
                  <h4><b>Java</b></h4> 
                  <p>Desarrollo Movile &  Desktop</p> 
                  <div class="contendorBoton">
                    <div class="boton">
                      <a href="https://github.com/Pwd12angel/ManejadorDeArchivos">Ir al proyecto</a>
                    </div>
                  </div>
                </div>   
            </div>

            <div class="card">
                <img id="mysql" src="../../../assets/mysql3.webp" >
                <div class="container">
                  <h4><b>Mysql</b></h4> 
                  <p>Administracion en base de datos SQL</p> 
                  <div class="contendorBoton">
                    <div class="boton">
                      <a href="https://github.com/Pwd12angel/CRUDTopicos">Ir al proyecto</a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="card">
                <img src="../../../assets/sistemasOP.webp" alt="Avatar" >
                <div class="container">
                  <h4><b>Windows & Linux</b></h4> 
                  <p>Sistemas Operativos que trabajo</p> 
                  <div class="contendorBoton">
                    <div class="boton">
                      <a href="https://github.com/Pwd12angel/SistemasOperativos-Planificasion-FCFS">Ir al proyecto</a>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="card">
                <img src="../../../assets/github.webp" alt="Avatar" >
                <div class="container">
                  <h4><b>Git & GitHub</b></h4> 
                  <p>Sistemas De Control De Versiones</p> 
                  <div class="contendorBoton">
                    <div class="boton">
                      <a href="https://github.com/Pwd12angel">Ir al Perfil</a>
                    </div>
                  </div>
                </div>
              </div>
    
        </div>
   </div>
  
</div>
