<h1 class="nombreJ">Jesús Naranjo</h1>
<h1 class="cosas">Cosas que me gustan</h1>

<div class="container">
    <div class="yo">
        <h3>Yo</h3>
        <img src="/assets/YoR.jpg" alt="">
        <p>Mi nombre es Jesús Roberto, soy originario de Temoac, soy una persona que se desespera muy rápido,y me gusta mucho la chelita.</p>
    </div>
    <div class="oneP">
        <h3>Anime</h3>
        <img src="assets/OP.jpg" alt="">
        <p>Mi anime favorito es One Piece, se que tiene muchos capitulos y a las personas les da miedo verlo pero, cuando comienzas no hay vuelta atras y eso es lo mejor, por que te atrapa por su buena historia.</p>
    </div>
    <div class="barca">
        <h3>Equipo de Futbol</h3>
        <img src="assets/B.png" alt="">
        <p>El FC Barcelona es mi equipo favorito y es por el que me comenzo a gustar el futbol, recuerdo que fue en el año 2006 cuando conoci este equipo.</p>
    </div>
    <div class="call">
        <h3>Videojuego</h3>
        <img src="assets/W.jpg" alt="">
        <p>Hago muchos corajes por que soy bien manco para jugar COD, pero igual me gusta por que a veces saco lo pro :v</p>
    </div>
    <div class="Music">
        <h3>Música</h3>
        <img src="assets/BO.jfif" alt="">
        <p>Esta banda me gusta demasiado, tiene buenas rolitas, de igual manera me gusta mucho la música que esta relacionadad al metal, rock,e indie. </p>
    </div>
</div>